<footer>
        <div class="footerContent grid _1span">
            <div class="footerInfo grid _1span">
                <script type="text/javascript">
                    var today = new Date();
                    var year = today.getFullYear();
                    var el = document.querySelector('.footerInfo');
                    el.innerHTML = '<p class="footerCopyright">&copy; ' + year + ' Felix Hörnfeldt</p>';
                </script>
            </div>
        </div>
    </footer>