/* STANDARD CSS PROPERTIES */

body {
    margin: 0;
    font-family: 'Montserrat','Open sans', Arial, Helvetica, sans-serif;
}

a {
    background-color: transparent;
    transition: all .5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
}

._1span {
    grid-column: span 1;
    grid-row: span 1;
}

.grid {
    display: grid;
}

.hide {
    display: none;
}

/* CONTAINER CSS PROPERTIES */

.container {
    grid-template-columns: 1fr;
    grid-template-rows: 100vh auto 10vh;
}

/* INDEX BASE CSS */

header,
main,
footer {
    grid-column: span 1;
    grid-row: span 1;
    grid-template-columns: inherit;
    grid-template-rows: 1fr;
    display: grid;
}

/* HEADER BASE CSS GRID PROPERTIES */

header {
    background-image: url("../img/start_background_gradient.png");
    background-repeat: no-repeat;
    background-size: cover;
}

/* MAIN BASE CSS GRID PROPERTIES */

main {
    min-height: 90vh;
}

/* FOOTER BASE CSS GRID PROPERTIES */

footer {
    background: linear-gradient(#222222, #000 50%);
}

.footerContent {
    grid-template-columns: inherit;
    grid-template-rows: inherit;
}

.footerInfo {
    align-content: center;
    justify-content: center;
}

.footerCopyright {
    margin: 0;
    padding: 0;
    border: 0;
    color: #fff;
}