/* STANDARD CSS PROPERTIES */

body {
    margin: 0;
    font-family: 'Open sans', 'Montserrat', Arial, Helvetica, sans-serif;
}

a {
    background-color: transparent;
    transition: all .5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
}

._1span {
    grid-column: span 1;
    grid-row: span 1;
}

.grid {
    display: grid;
}

.hide {
    display: none;
}

/* FOOTER BASE CSS GRID PROPERTIES, Used in all files*/

footer {
    background-image: url("../../rehabcenter/img/menu.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-top: 2px solid #707070;
    height: 10vh;
}

.footerContent {
    grid-template-columns: inherit;
    grid-template-rows: inherit;
}

.footerInfo {
    align-content: center;
    justify-content: center;
}

.footerCopyright {
    margin: 0;
    padding: 0;
    border: 0;
    color: #fff;
}

/* HAMBURGER ICON UNIVERSAL PROPERTIES */

i.fa-bars {
    color: #fff;
    font-size: 48px;
    cursor: pointer;
}

/* HEADER MAIN AND FOOTER UNIVERSAL PROPERTIES, all files*/

header,
main,
footer {
    grid-column: span 1;
    grid-row: span 1;
    grid-template-columns: inherit;
    grid-template-rows: 1fr;
    display: grid;
}

/*************************************************************************************************************/

/***************INDEX.html CSS***********/

/* CONTAINER CSS PROPERTIES */

.indexContainer {
    grid-template-columns: 1fr;
    grid-template-rows: 100vh auto auto;
}

/* HEADER BASE CSS GRID PROPERTIES */

.headerContent {
    grid-template-columns: inherit;
    grid-template-rows: inherit;
    background-image: url("../img/start_background_gradient.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.headerContentBox,
.headerDropdownContent {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

/*.headerContentBox {
    display: none;
}*/

.headerLogo {
    grid-column: 1 / 4;
    grid-row: 1 / 3;
    /*background-color: yellow;*/
    justify-content: center;
}

.headerDropdown {
    grid-column: 6 / 7;
    grid-row: 1 / 2;
    align-content: center;
    justify-content: center;
}

.headerArrowUp {
    grid-column: 3 / 5;
    grid-row: 9 / 11;
    /*background-color: crimson;*/
    align-content: center;
    justify-content: center;
}

i.fa-chevron-up {
    color: #fff;
    font-size: 124px;
    cursor: pointer;
}

/*.headerDropdownContent {
    display: grid;
}*/

.headerDropdownLogo {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    align-content: center;
    justify-content: center;
}

.headerDropdownLogo i.fa-bars {
    opacity: 0.9;
}

.headerDropdownContentBox {
    grid-column: 2 / 7;
    grid-row: 1 / 11;
    background-image: url("../../rehabcenter/img/menu.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-left: 2px solid #707070; 
    grid-template-columns: 1fr;
    grid-template-rows: repeat(12, 1fr);
}

.dropdownSearchInput {
    align-content: center;
    justify-content: center;
}

.dropdownSearchBar {
    background-color: #D6D6D6;
    color: #000;
    border: 0;
    padding: 5px;
    width: 75vw;
    height: 5vh;
    font-size: 18px;
}

.dropdownMenu {
    grid-column: span 1;
    grid-row: 2 / 9;
    grid-template-columns: inherit;
    grid-template-rows: 1fr;
    /*background-color: chocolate;*/
}

.dropdownMenuContent {
    grid-template-columns: inherit;
    grid-template-rows: repeat(7, 1fr);
    color: #fff;
}

.dropdownMenuHeadlineBox {
    align-content: center;
    border-bottom: 2px solid #707070;
    margin: 0px 5px;
}

.dropdownMenuHeadline {
    margin: 0px 2.5vw;
    color: #ececec;
}

.dropdownMenuParagraphBox {
    align-content: center;
    border-bottom: 2px solid #707070;
    margin: 0px 5px;
}

.dropdownMenuParagraphBox a {
    text-decoration: none;
    color: inherit;
}

.dropdownMenuParagraph {
    margin: 0px 5vw;
    font-weight: bold;
    font-size: 18px;
}

.dropdownForm {
    grid-column: span 1;
    grid-row: 9 / 13;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.dropdownFormContent {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    margin: 0px 2.5vw; 
}

.dropdownFormHeadlineBox {
    grid-column: span 3;
    grid-row: span 1;
    align-content: center;
}

.dropdownFormHeadline {
    color: #ececec;
    margin: 0px 1vw;
}

.dropdownFormRegisterBox {
    grid-column: span 2;
    grid-row: span 1;
    align-content: center;
}

.formRegisterButton {
    color: #7A7A7A;
    background-color: #fff;
    height: 4.9vh;
    font-size: 18px;
    width: 35vw;
    border: 0;
}

.dropdownFormUsernameBox {
    grid-column: span 2;
    grid-row: 3 / 4;
    align-content: center;
}

.dropdownFormUsernameBox label {
    color: #fff;
    font-size: 12px;
}

.dropdownFormUsernameInput,
.dropdownFormPasswordInput {
    background-color: #D6D6D6;
    color: #000;
    border: 0;
    padding: 3px;
    font-size: 18px;
    height: 4vh;
    width: 47.5vw;
}

.dropdownFormPasswordAndLoginBox {
    grid-column: span 3;
    grid-row: span 1;
    grid-template-columns: inherit;
    grid-template-rows: 1fr;
}

.dropdownFormPasswordBox {
    grid-column: span 2;
    grid-row: span 1;
}

.dropdownFormLoginBox {
    grid-column: span 1;
    grid-row: span 1;
}

.formLoginButton {
    background-color: #fff;
    color: #7A7A7A;
    border: 0;
    font-size: 18px;
    height: 4.9vh;
}

/* MAIN BASE CSS GRID PROPERTIES */

.mainContent {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    min-height: 90vh;
}

.mainContentBox {
    grid-template-columns: inherit;
    grid-template-rows: repeat(2, 1fr);
}

.mainContentNewsBox {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(8, 1fr);
}

.mainContentNewsBoxContent {
    grid-column: 2 / 6;
    grid-row: 2 / 8;
    /*background-color: hotpink;*/
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
}

.indexNewsBoxImage {
    grid-column: span 1;
    grid-row: 1 / 4;
    /*background-color: aqua;*/
}

.indexNewsBoxInfo {
    grid-column: span 1;
    grid-row: 4 / 7;
    /*background-color: forestgreen;*/
}

.indexNewsHeadline {
    margin: 0;
    /*color: #000;*/
    font-size: 14px;
}

.indexNewsHeadline a {
    color: #000;
}

.indexNewsParagraph {
    margin: 0;
    color: #707070;
    font-size: 10px;
}

/*************************************************************************************************************/

/***************UNIVERSAL CSS PROPERTIES FOR SITE_PAGES***********/

.siteContainer {
    grid-template-columns: 1fr;
    grid-template-rows: 25vh auto auto;
}

.siteHeaderContent {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    /*background-color: springgreen;*/
    background-image: url("../img/site_header_background_image_375_166_gradient_two.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.siteHeaderContentBox {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.siteHeaderLogoBox {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    /*background-color: #ffff00;*/
}

.siteHeaderDropdownIconBox {
    grid-column: 6 / 7;
    grid-row: 1 / 3;
    align-content: center;
    justify-content: center;
}

.siteHeaderPageHeadlineBoxSmall {
    grid-column: 1 / 3;
    grid-row: 4 / 6;
    align-content: center;
    justify-content: center;
}

.siteHeaderPageHeadlineBoxLarge {
    grid-column: 1 / 4;
    grid-row: 4 / 6;
    align-content: center;
    justify-content: center;
}

.siteHeaderPageHeadline {
    color: #fff;
    margin: 0;
    font-style: italic;
    font-size: 42px;
}

.siteMainContent {
    min-height: 65vh;
}

/*************************************************************************************************************/

/***************BOOK.html CSS***********/

.siteBookMainContent {
    background-image: url("../../rehabcenter/img/menu.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
 
/*************************************************************************************************************/

/***************FIND.html CSS***********/

/*************************************************************************************************************/

/***************CONTACT.html CSS***********/

.siteContactMainContent {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    height: 127vh;
}

.siteContactMainContentBox {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 1fr);
    /*grid-row-gap: 1vh;*/
}

.siteContactInfoBox {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
}

.siteContactInfoImageBox {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    align-content: center;
    justify-content: center;
}

.siteContactInfoImage {
    border-radius: 25%;
    margin-left: 1vw;
}

.siteContactInfoInfoBox {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
}

.siteContactInfoNameBox,
.siteContactInfoPhoneNumberBox,
.siteContactInfoProfessionBox {
    align-content: center;
}

.siteContactInfoParagraph {
    margin: 0;
    margin-left: 3vw;
}

#contactdietist,
#contactmassagetherapist,
#contactpersonaltrainerone,
#contactpersonaltrainertwo,
#contactphysiotherapistone,
#contactphysiotherapisttwo,
#contactphysiotherapistthree {
    border-top: 2px solid #707070;
}

/*************************************************************************************************************/

/***************NEWS.html CSS***********/

/*************************************************************************************************************/

/***************ABOUT.html CSS***********/

/*************************************************************************************************************/

/***************HELP.html CSS***********/